@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');

* {
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.container {
    width: 380px;
    padding: 2rem;
    height: 80vh;
    text-align: center;
    -webkit-box-shadow: 3px 4px 16px 6px rgba(34, 60, 80, 0.9);
    -moz-box-shadow: 3px 4px 16px 6px rgba(34, 60, 80, 0.9);
    box-shadow: 3px 4px 16px 6px rgba(34, 60, 80, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.search {
    font-size: 1.5rem;
    border-radius: .3rem;
    border: 0;
}

.search-form button {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: .3rem;
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

.city-name {
    font-size: 1.5em;
}

.current-degree {
    font-size: 1.3rem;
}

.current-weather {
    font-size: 1.3rem;
}

.container span {
    font-size: 1.3rem;
}